*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  /* display: flex; */
  text-align: center;
  font-size: 30px;
  color: cornflowerblue;
  
  
}
.result{
  color: lightslategray;
  font-size: 100px;
}
.button-center{
  padding: 20px;
  margin:  20px;
}
.button-center > button{
  padding: 0px 20px;
  margin: 0px 20px;
  font-size: 30px;
  background-color: grey;
  border-radius: 20px;
  cursor: pointer;

}